.person-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
  width: 50%;
}

.person-details .person-image {
  border-radius: 10px;

  height: 40%;
}

.person-details .list-group-item {
  padding: .25rem;
}

.person-details .list-group-item .term{
  margin-right: .5rem;
}